﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShuffleLit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShuffleLit.styles.css" asp-append-version="true" />
</head>
<body class="h-100">

    <div class="cover-container d-flex flex-column h-100 ">

        <nav class="navbar nav-masthead navbar-expand-md navbar-dark fixed-top bg-dark p-2">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">ShuffleLit</a>
            <button onclick="toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">

                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Home" && ViewContext.RouteData.Values["Action"].ToString()=="Index"?"active":"")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <!--authenticated-->
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">

                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Literature"?"active":"")" asp-controller="Literature" asp-action="Index">Literatures</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Profile"?"active":"")" asp-controller="Profile" asp-action="Index">Hello @UserManager.GetUserName(User)</a>
                        </li>

                        <form id="logoutForm" method="post" class="nav-item" asp-controller="Account"
                              asp-action="Logout">
                            <button type="submit" class="btn nav-link">Logout</button>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item">

                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Literature"?"active":"")" asp-area="" asp-controller="Literature" asp-action="Index">Literatures</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Account" && ViewContext.RouteData.Values["Action"].ToString()=="Login"?"active":"")" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Account"&& ViewContext.RouteData.Values["Action"].ToString()=="Register"?"active":"")" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                    <li class="nav-item">

                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Home" && ViewContext.RouteData.Values["Action"].ToString()=="Privacy"?"active":"")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="mt-5 mb-3 p-3 h-100">
            @RenderBody()
        </main>

        <footer class="border-top fixed-bottom text-muted bg-light">
            &copy; 2024 - ShuffleLit - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--handle toggle functionality -->
        <script>
            function toggle() {
                var element = document.getElementById("navbarCollapse");
                element.classList.toggle("collapse");
            }
        </script>
        @await RenderSectionAsync("Scripts", required: false)


    </div>
    <!--cookie consent-->
    <partial name="_CookieConsentPartial" />
</body>
</html>